Repository fetis/30-seconds-of-angular, pull requests merged in 2019-03, with the labels that each got.

#23 Add automatic snippet validation
  README.md
  data/data.json
  scripts/md-to-json.js
  scripts/validate-json.js
  snippets/adding-keyboard-shortcuts-to-elements.md
  snippets/style-bindings.md
  snippets/trackby-in-for-loops.md
  templates/README-template.md
Labels: enhancement

#25 window.location DI snippet
  snippets/window-location-injection.md
Labels: snippet

#38 Enums in template
  snippets/accessing-enums-in-template.md
Labels: snippet

#33 Create default-viewencapsulation-value.md
  snippets/default-viewencapsulation-value.md
Labels: snippet

#26 create components-polymorphism
  snippets/getting-components-of-different-types-with-viewchild.md
Labels: ready for merge, snippet

#55 ngTemplateOutlet snippet
  snippets/reusing-code-in-template.md
Labels: snippet
